
*{
    
    box-sizing: border-box;
}
body{
    background-color: rgb(239, 239, 227);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    text-align: center;
}

.progress-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
    max-width: 100%;
    width: 400px;
}

.progress-container::before{
    content: "";
    position: absolute;
    background-color: #e0e0e0;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    z-index: -1;
    transform: translateY(-50%);
}

.progress{
    position: absolute;
    background-color: #3498db;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    z-index: -1;
    transform: translateY(-50%);
    transition: .4s ease-in;
}

.circle{
    background-color: #e0e0e0;
    width: 30px;
    height: 30px;
    color: #999;
    border-radius: 50%;
    display: flex;
    align-items: center ;
    justify-content: center;
    border: 3px solid #e0e0e0;
    transition: .4s ease;
    
}

.circle.active{
    border: 3px solid #3498db;
}
.btn{
    background-color: #3498db;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 5px;
    transition: .96;
    font-size: 14px;
}

.btn:active{
    transform: scale(0.98);
}

.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: #e0e0e0;
    cursor: not-allowed;
}